@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .header_top_wrapper{
    @apply bg-gray-100 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-blue-700 hover:text-white hover:scale-110 duration-300 mx-2
  }
  .text-title{
   @apply text-[#124660]
  }
  .font-condensed {
    font-stretch: condensed;
  }
}
.active{
 color: orangered;
 /* border: 1px solid #720c1a; */
 border-radius: 60px; 
 padding: 2px 20px;
 transition: all ease .2s;
 background: #2342;
 
}